@model Stolarstwo.Models.FormModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IJsonHelper Json;  
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Main page"];
}

<script type='text/javascript'>
    jQuery(document).ready(function () {
        jQuery('.scroll').click(function (e) {
            e.preventDefault();
            scrollToElement(jQuery(this).attr('href'), 2000);
        });

        var scrollToElement = function (el, ms) {
            var speed = (ms) ? ms : 600;
            jQuery('html,body').animate({
                scrollTop: jQuery(el).offset().top
            }, speed);
        }
    });
</script>

<style>
    #mainContainer {
        position: relative;
        margin-top: -1%;
        overflow-y: hidden;
    }
</style>

<div id="wrapper">
@*@if (Model != null)
{
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var priceUpdate = function () {
            var value = @Model.GetCalculatedPricePLN();

            $("#price").text("Cena: " + value + " PLN")
        }

        $("#orderform input").on("change paste keyup", priceUpdate);
        $("#FrameWidth").change(priceUpdate);
        $("#MirrorType").change(priceUpdate);
    });
</script>
}*@

    <section id="welcome">
        <a href="#offer" class="scroll btn btn-outline-light btn-lg">@_localizer["Check our offer"]</a>
    </section>
    <section id="offer">
        <h1>@_localizer["Offer"]</h1>
        <div id="buttons">
            <h2>@_localizer["Doors:"]</h2>
            <a href="/Home/Gallery?type=interiordoors" class="btn btn-secondary btn-lg">@_localizer["Interior doors"]</a>
            <a href="/Home/Gallery?type=exteriordoors" class="btn btn-secondary btn-lg">@_localizer["Exterior doors"]</a>
            <h2>@_localizer["Mirrors:"]</h2>
            <a href="/Home/Gallery?type=rustic" class="btn btn-secondary btn-lg">@_localizer["Rustic"]</a>
            <a href="/Home/Gallery?type=standardsmooth" class="btn btn-secondary btn-lg">@_localizer["Standard (smooth)"]</a>
        </div>
    </section>
    <section id="contact">
        <h1>@_localizer["Contact"]</h1>
        <div id="contactdata">
            <table id="contacttable">
                <tr><td><h2>@_localizer["Phone number"]:</h2></td></tr>
                <tr><td><h3>555-444-333</h3></td></tr>
                <tr><td><h2>@_localizer["Email"]:</h2></td></tr>
                <tr><td><h3>stolarstwo@stolarstwo.pl</h3></td></tr>
                <tr><td><h2>@_localizer["Address"]:</h2></td></tr>
                <tr><td><h3>ul. Warszawska 21</h3></td></tr>
                <tr><td><h3>37-148 Kluczbork</h3></td></tr>
                <tr><td><h3>woj. małopolskie</h3></td></tr>
            </table>
        </div>
    </section>
    <section id="order">
        <h1>@_localizer["Order"]</h1>
        <form id="orderform" method="post" asp-controller="Home" asp-action="FormSubmit">
            <div class="mirrorselector">
                <input id="rustic" type="radio" asp-for="@Model.MirrorType" value="0" />
                <label class="mirrorchoice rustic" for="rustic"></label>
                <input id="standardsmooth" type="radio" asp-for="@Model.MirrorType" value="1" />
                <label class="mirrorchoice standardsmooth" for="standardsmooth"></label>
            </div>
            <span asp-validation-for="@Model.MirrorType" class="text-danger"></span>

            <input asp-for="@Model.Height" class="border-info form-control-lg" type="text" placeholder="@_localizer["Height (cm)"]" />
            <input asp-for="@Model.Width" class="border-info form-control-lg" type="text" placeholder="@_localizer["Width (cm)"]" /><br />
            <span asp-validation-for="@Model.Width" class="text-danger"></span>
            <span asp-validation-for="@Model.Height" class="text-danger"></span><br />

            <table>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="0" checked />
                        <label for="transparent">@_localizer["Transparent"]</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="1" />
                        <label for="white">@_localizer["White"]</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="2" />
                        <label for="waxoil">@_localizer["Wax oil"]</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="3" />
                        <label for="oak">@_localizer["Oak"]</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="4" />
                        <label for="bright_oak">@_localizer["Bright Oak"]</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="5" />
                        <label for="teak">@_localizer["Teak"]</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="@Model.ColorChoice" type="radio" value="6" />
                        <label for="palisander">@_localizer["Palisander"]</label>
                    </td>
                </tr>
            </table>
            <select class="mr-2 form-control-lg" asp-for="@Model.FrameWidth" data-val="true" data-val-required="@_localizer["The frame width field is required"]">
                <option value="0">6 cm</option>
                <option value="1">8 cm</option>
            </select>
            @*<p id="price" class="font-weight-bold">0.00 PLN</p>*@
            <h4>@_localizer["Shipment info"]:</h4>
            <input class="border-info form-control-lg" type="text" asp-for="@Model.FirstName" placeholder="@_localizer["First name"]" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span><br />
            <input class="border-info form-control-lg" type="text" asp-for="@Model.LastName" placeholder="@_localizer["Last name"]" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span><br />
            <input class="border-info form-control-lg" type="text" asp-for="@Model.StreetAndNumber" placeholder="@_localizer["Street and number"]" />
            <span asp-validation-for="@Model.StreetAndNumber" class="text-danger"></span><br />
            <input class="border-info form-control-lg" type="text" asp-for="@Model.PostalCode" placeholder="@_localizer["Postal code"]" />
            <span asp-validation-for="@Model.PostalCode" class="text-danger"></span><br />
            <input class="border-info form-control-lg" type="text" asp-for="@Model.City" placeholder="@_localizer["City"]" />
            <span asp-validation-for="@Model.City" class="text-danger"></span><br />
            <input class="border-info form-control-lg" type="text" asp-for="@Model.PhoneNumber" placeholder="@_localizer["Phone number"]" />
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span><br />
            <input class="border-info form-control-lg" type="text" asp-for="@Model.EmailAddress" placeholder="@_localizer["Email Address"]" />
            <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span><br />
            <select class="mr-2 form-control-lg" asp-for="@Model.ShipmentType" data-val="true" data-val-required="@_localizer["The shipment type field is required"]">
                <option value="0">@_localizer["Prepaid"] 30 zł</option>
                <option value="1">@_localizer["On delivery"] 40 zł</option>
            </select>
            <button class="btn btn-secondary" type="submit">@_localizer["Order"]</button>
        </form>
    </section>
    <section id="map">
        <h1>@_localizer["Map"]</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312779.9431310756!2d20.781016711291045!3d52.232606289062204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1626202578369!5m2!1spl!2spl"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
</div>