@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Title"];
}

<script type='text/javascript'>
    function scrollToElement(id) {
        var target = document.getElementById(id).offsetTop + 50;
        window.scrollTo(0, target);
    }
</script>

<div id="wrapper">
    <section id="welcome">
        <a href="#offer" class="btn btn-outline-light btn-lg">@_localizer["Check our offer"]</a>
    </section>
    <section id="offer">
        <h1>@_localizer["Offer"]</h1>
        <div id="buttons">
            <h2>@_localizer["Doors:"]</h2>
            <button class="btn btn-secondary btn-lg">@_localizer["Interior doors"]</button>
            <button class="btn btn-secondary btn-lg">@_localizer["Exterior doors"]</button>
            <h2>@_localizer["Mirrors:"]</h2>
            <button class="btn btn-secondary btn-lg">@_localizer["Rustic"]</button>
            <button class="btn btn-secondary btn-lg">@_localizer["Standard (smooth)"]</button>
        </div>
    </section>
    <section id="ourWork">
        <h1>@_localizer["Our work"]</h1>
    </section>
    <section id="contact">
        <h1>@_localizer["Contact"]</h1>
    </section>
    <section id="order">
        <h1>@_localizer["Order"]</h1>
    </section>
    <section id="map">
        <h1>@_localizer["Map"]</h1>
    </section>
</div>