@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer _localizer

@if (SignInManager.IsSignedIn(User))
{
    <form class="float-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="btn btn-dark" type="submit">@_localizer["Logout"]</button>
    </form>
    <a class="text-dark float-right" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@_localizer["Hello"], @User.Identity.Name!</a>
}
else
{
    @*<a asp-area="Identity" asp-page="/Account/Register">Register</a>*@
    <a class="float-right" asp-area="Identity" asp-page="/Account/Login">@_localizer["Login"]</a>
}
